.idea/
vendor/*
static/vendor/*
package-lock.json

themes/portal/vendor
themes/portal/static/vendor
themes/portal/static/js/*.min.js
themes/portal/static/css/*.min.css
themes/registry/vendor
themes/registry/static/vendor
themes/registry/static/js/*.min.js
themes/registry/static/css/*.min.css
themes/www/static/vendor
themes/www/static/js/*.min.js
themes/www/static/css/*.min.css

### Eclipse template
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

### Node template
# Logs
logs
*.log
npm-debug.log*


# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

