<!-- sakh-indicators -->
<%
let mod = `/${module}/${portal}`;
%>
<div class="chart">
</div>


<div class="pane-tools">

    <div class="project-selector selector">
        <div class="selector-step prev monitor-head-btn" title="Предыдущий проект">
            <span class="glyphicon glyphicon-menu-left"></span>
        </div>
        <div class="selector-title monitor-head-btn" title="Персона">
            Выберите проект
        </div>
        <div class="selector-step next monitor-head-btn" title="Следующий проект">
            <span class="glyphicon glyphicon-menu-right"></span>
        </div>
        <div class="selector-menu" style="display: none">
            <div class="selector-menu-body">
                <div class="selector-menu-list">
                </div>
            </div>
        </div>
    </div>
</div>