<h3>Вы инициировали запрос на изменение параметров проекта <%=message.basicObj.name%>.</h3>
<p>Это письмо было создано и отправлено автоматически и является оповещением. Не нужно отвечать на это письмо.</p>