<h3>Запланировано совещание на <%=message.date && message.date.toLocaleString("ru")%> на тему "<%=message.name%>", длительностью <%=message.duration_str%>.</h3>
<p>Это письмо было создано и отправлено автоматически и является оповещением. Не нужно отвечать на это письмо.</p>